<!DOCTYPE html>
<html>
<head>
	<script
	  src="https://code.jquery.com/jquery-3.2.1.min.js"
	  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	  crossorigin="anonymous"></script>
	<meta charset="utf-8">
	<title>TEDX | LPSOUSSE</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" type="image/png" href="http://tedxjerseycity.com/wp-content/uploads/icons/icon-events-01.png" />
    <link href="CSS/ted-font.css" rel="stylesheet" />
    <link href="CSS/animate.css" rel="stylesheet" />
    <link href="CSS/ted-animate.css" rel="stylesheet" />
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/typeit/4.3.0/typeit.min.js"></script>
