
<% include partials/header %>
<link rel="stylesheet" href="/CSS/Home.css">
</head>
<body>

<!-- MENU TAB -->
<div id="main-wrapper-menu">
  <div id="wrapper-cross"></div>
	<div id="wrapper-menu">

    <div class="recent-post text-part-menutab">
        <ul>
        <li><div id="recent-post-title">Home</div></li>
    	<li><div id="recent-post-1"><a href="/speakers">Speakers</a></div></li>
		<li><div id="recent-post-2"><a href="/talks">Watch Talks</a></div></li>
		<li><div id="recent-post-3"><a href="/team">Team</a></div></li>
		<li><div id="recent-post-4"><a href="/sponsors">Sponsors</a></div></li>
        </ul>
    </div>

	<div class="category-post text-part-menutab">
    	<div id="line-category-post"></div>
        <ul>
        <li><div id="category-post-title">LPSOUSSE 2017</div></li>
    	<li><div id="category-post-1"><a href="/tedx2017/Program">Program</a></div></li>
		<li><div id="category-post-2"><a href="/tedx2017/signup">Sign up for event</a></div></li>
		<li><div id="category-post-3"><a href="/tedx2017/live">Live Stream</a></div></li>
        </ul>
    </div>

    </div>
</div>

<!-- BOUTON MENU TAB -->

<div id="wrapper-plus" class="object"></div>

<!-- HEADER -->

<div id="A1-main">

    <div id="wrapper-logo" class="object">
	<a href="#"><div id="logo" class="shadow object" ><img src="IMG/logo.png" width="300" height="300"/></div></a>
	</div>

    <div id="A1">

    	<div class=""></div>

    	<div id="A0"></div>
    	<div id="A0-2"></div>
    	<div id="trame"></div>


    	<div id="wrapper-head">
   			<div id="title" class="object type-it"></div>
            <div id="wrapper-learnmore">
            <a href="" > <img src="https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-08-128.png" style="margin-top: 12em;color:white;filter: brightness(0) invert(1);width:60%"alt=""></a>
            </div>
           <a href="#ancre"><div id="fleche1"></div></a>
   	    </div>


		<div id="wrapper-plus" class="object"></div>

	</div>

</div>

<a name="ancre"></a>

<!-- PART 2 - TITLE-->

<div id="A2">
    <div id="text-2" class="wow fadeIn" data-wow-offset="10">TEDxLPSOUSSE is Tunisia’s largest TEDx event, a platform for exceptional ideas, and a catalyst for <span style="color:#e62b1e;">profound change.</span></div>
</div>


<!-- PART 3 - TALKERS SLIDESHOW -->
<div class="" style="overflow:hidden;max-width: 100%;min-width: 100%;">
	<img class="mySlides" src="http://orangethreadlive.com/wp-content/uploads/2016/12/27063899153_8ac8fdf163_o-edited-2000x800.jpg" style="max-width: 100%;">
	<img class="mySlides" src="https://unsplash.it/2000/800?image=41" style="max-width: 100%;">
	<img class="mySlides" src="https://unsplash.it/2000/800?image=52" style="max-width: 100%;">
	<img class="mySlides" src="https://unsplash.it/2000/800?image=83" style="max-width: 100%;">
	<button class="w3-button w3-display-left" style=" transform: translateY(-250px);" onclick="plusDivs(-1)">&#10094;</button>
	<button class="w3-button w3-display-right" onclick="plusDivs(+1)" style="transform: translate(109.5em,-250px);">&#10095;</button>
</div>
<script type="text/javascript">
	var slideIndex = 1;
	showDivs(slideIndex);

	function plusDivs(n) {
		showDivs(slideIndex += n);
	}

	function showDivs(n) {
		var i;
		var x = document.getElementsByClassName("mySlides");
		if (n > x.length) {slideIndex = 1}
		if (n < 1) {slideIndex = x.length} ;
		for (i = 0; i < x.length; i++) {
				x[i].style.display = "none";
		}
		x[slideIndex-1].style.display = "block";
	}
</script>


<!-- PART 4 - PORTFOLIO ARTICLES 3 GRID -->

<div class="container" style="margin-right: 0px;margin-left: 0px;">
	<h2 style="text-align:center;width:85%" class="wow fadeIn" data-wow-offset="10"><span style="color:#e62b1e;">Latest News</span></h2>

<div id="wrapper-A3" class="object">

    	<div id="A3-left">

        	<div id="wrapper-post1" class="text-part-A5">
            	<div id="A3-middle-image-4"><img src="http://www.tedxidahofalls.com/wp-content/uploads/Ali-Goljahmofrad-TEDx-resized.jpg"  alt="Another post" title="Another post" class="grow"/></div>

            	<div id="wrapper-A3-left-date-1">
            		<div id="A3-left-date-1">22 nov, 2017</div>
                	<div id="A3-left-icone-1"></div>
            	</div>
            	<ul>
            		<li><div id="A3-left-title-1"><a href="spore-post1.html" >Post a Youtube video</a></div></li>
            	</ul>
                <div id="A3-left-text-1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</div>
            </div>

            <div id="wrapper-post2" class="text-part-A5">
            	<a href="spore-post2.html"><div id="A3-left-image-2"><img src="https://i.ytimg.com/vi/d0NHOpeczUU/maxresdefault.jpg"  alt="post an image with animation" title="post an image with animation" class="grow"/></div></a>

            	<div id="wrapper-A3-left-date-2">
            		<div id="A3-left-date-2">21 nov, 2017</div>
                	<div id="A3-left-icone-2"></div>
            	</div>
           		<ul>
            		<li><div id="A3-left-title-2"><a href="spore-post2.html">Post an image with animation</a></div></li>
            	</ul>
            	<div id="A3-left-text-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</div>
            </div>

             <div id="wrapper-post3" class="text-part-A5">
            	<a href="spore-post3.html"><div id="A3-left-image-3"><img src="http://tedx.amsterdam/static/TEDxAmsterdam-volunteers-on-stage-Concertgebouw-TEDxAmsterdam-2013.jpg"  alt="Auto-resized image" title="Auto-resized image" class="grow"/></div></a>

            	<div id="wrapper-A3-left-date-3">
            		<div id="A3-left-date-3">20 nov, 2017</div>
                	<div id="A3-left-icone-3"></div>
            	</div>
            	<ul>
            		<li><div id="A3-left-title-3"><a href="spore-post3.html">Auto-resized image</a></div></li>
                </ul>
            	<div id="A3-left-text-3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</div>
            </div>

        </div>

    	<div id="A3-middle">

            <div id="wrapper-post4" class="text-part-A5">
            	<a href="spore-post4.html"><div id="A3-middle-image-4"><img src="https://s-media-cache-ak0.pinimg.com/originals/a0/42/31/a04231aad1aea6ada0c97326af031a51.jpg"  alt="Another post" title="Another post" class="grow"/></div></a>

            	<div id="wrapper-A3-middle-date-4">
            		<div id="A3-middle-date-4">19 nov, 2017</div>
                	<div id="A3-middle-icone-4"></div>
            	</div>
            	<ul>
            		<li><div id="A3-middle-title-4"><a href="spore-post4.html">Another post</a></div></li>
                </ul>
            	<div id="A3-middle-text-4">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</div>
            </div>

            <div id="wrapper-post5" class="text-part-A5">
            	<a href="spore-post5.html"><div id="A3-middle-image-5"><img src="http://i.f1g.fr/media/ext/1900x1900/madame.lefigaro.fr/sites/default/files/img/2016/10/les-meilleures-conferences-tedx-pour-booster-sa-carriere.jpg"  alt="Another post" title="Another post" class="grayscale" /></div></a>

            	<div id="wrapper-A3-middle-date-5">
            		<div id="A3-middle-date-5">18 oct, 2017</div>
                	<div id="A3-middle-icone-5"></div>
            	</div>
            	<ul>
            		<li><div id="A3-middle-title-5"><a href="spore-post5.html">Post transition image</a></div></li>
                </ul>
            	<div id="A3-middle-text-5">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</div>
            </div>

            <div id="wrapper-post6" class="text-part-A5">

           		<div class="video-container-6">
								<a href="spore-post5.html"><div id="A3-middle-image-5"><img src="https://pi.tedcdn.com/r/pe.tedcdn.com/images/ted/817dc0649790312f28cc4aa5c14c0cc35473c22a_2880x1620.jpg?w=1200"  alt="Another post" title="Another post" class="grayscale" /></div></a>

            	</div>

            	<div id="wrapper-A3-middle-date-6">
            		<div id="A3-middle-date-6">17 nov, 2017</div>
                	<div id="A3-middle-icone-6"></div>
            	</div>
            	<ul>
            		<li><div id="A3-middle-title-6"><a href="spore-post6.html">Post a Vimeo video</a></div></li>
                </ul>
            	<div id="A3-middle-text-6">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</div>
            </div>


        </div>

        <div id="A3-right">

        	    <div id="wrapper-post7" class="text-part-A5">
            	<div class="video-container-1">
								<a href="spore-post5.html"><div id="A3-middle-image-5"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzTFDmkOEJ0nlhY5uMmyv3BjH1yfAsAT5wwGN3sZ5M1ol00rcJ"  alt="Another post" title="Another post" class="grayscale" /></div></a>

                </div>

            	<div id="wrapper-A3-right-date-7">
            		<div id="A3-right-date-7">16 jan, 2017</div>
                	<div id="A3-right-icone-7"></div>
            	</div>
            	<ul>
            		<li><div id="A3-right-title-7"><a href="spore-post7.html">Another video post</a></div></li>
                </ul>
            	<div id="A3-right-text-7">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam</div>
            </div>

            <div id="wrapper-post8" class="text-part-A5">
            	<a href="spore-post8.html"><div id="A3-right-image-8"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyu4ce57ERbEBLF-yNNeun242mprNPrPHJygNGa9obNShiT2Q4"  alt="Post with transition image" title="Post with transition image" class="grow" /></div></a>

            	<div id="wrapper-A3-right-date-8">
            		<div id="A3-right-date-8">15 feb, 2017</div>
                	<div id="A3-right-icone-8"></div>
            	</div>
            	<ul>
            		<li><div id="A3-right-title-8"><a href="spore-post8.html">Another post</a></div></li>
                </ul>
            	<div id="A3-right-text-8">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</div>
            </div>

            <div id="wrapper-post9" class="text-part-A5">
            	<a href="spore-post9.html"><div id="A3-right-image-9"><img src="http://www.cuedspeech.co.uk/uploads/images/TEDx1.jpg"  alt="Another post" title="Another post" class="grow"/></div></a>

            	<div id="wrapper-A3-right-date-9">
            		<div id="A3-right-date-9">2017</div>
                	<div id="A3-right-icone-9"></div>
            	</div>
            	<ul>
            		<li><div id="A3-right-title-9"><a href="spore-post9.html">Another post</a></div></li>
                </ul>
            	<div id="A3-right-text-9">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</div>
            </div>

        </div>
	<div class="calage"></div>
</div>
</div>

<!-- PART 4 - BOUTON PAGE 1-4 -->

<div id="A4" class="object">

	<div id="wrapper-A4" class="wow bounceInRight pagination pagination-lg" data-wow-offset="10">


		<li class="active"><a href="#">1</a></li>
	  <li ><a href="#">2</a></li>
	  <li><a href="#">3</a></li>
	  <li><a href="#">4</a></li>
	  <li><a href="#">5</a></li>
    </div>

</div>

<div class="NewsLetter"style="    padding-bottom: 2em;
    padding-top: 2em;
    background: #e62b1e;">
	<h2 style="text-align:center;color:white;">Keep updated. Subscribe to our Newsletter</h2>
	<div class="container" style="text-align:center;margin-top:2em;margin-bottom:2em;">
		<form >
			<div class="form-inline">


		  <div class="form-group">
		    <label class="sr-only" for="exampleInputEmail3">Name</label>
		    <input type="text" class="form-control input-lg" id="exampleInputEmail3" placeholder="Name" style="-webkit-border-radius: 25px;">
		  </div>
		  <div class="form-group">
		    <label class="sr-only" for="exampleInputPassword3">Email</label>
		    <input type="email" required class="form-control input-lg" id="exampleInputPassword3" placeholder="Email" style="-webkit-border-radius: 25px;">
		  </div>
</div>
		  <button type="submit" class="btn btn-lg" style="margin-top:2em;-webkit-border-radius: 25px;">Sign in</button>
		</form>
	</div>

</div>
<!-- PART 5 - SUB MENU AND SHORTCUTS -->

<div id="A5">

	<div id="wrapper-A5">

        <div id="wrapper-part-left" class="text-part-A5">
        	<div id="A5-left" class="wow flipInX" data-wow-offset="10">
    			<div id="left-text-post"><strong>What is TEDx?</strong></div>
            	<div id="left-line-post"></div>
            	<div id="left-line2-post"></div>
			<p style="font-size:18px;color:white;">In the spirit of ideas worth spreading, TEDx is a program of local, self-organized events that bring people together to share a TED-like experience. At a TEDx event, TED Talks video and live speakers combine to spark deep discussion and connection. These local, self-organized events are branded TEDx, where x = independently organized TED event.</p>
            </div>
        </div>



        <div id="wrapper-part-right" class="text-part-A5">
        	<div id="A5-right" class="wow flipInX" data-wow-offset="10" data-wow-delay="0.4s">
    			<div id="right-text-post"><strong>Home</strong></div>
            	<div id="right-line-post"></div>
            	<div id="right-line2-post"></div>
			<ul>
                <li><div id="right-text-post-1"><strong><a href="/speakers">SPEAKERS</a></strong></div></li>
				<li><div id="right-text-post-2"><strong><a href="/talks">WATCH TALKS</a></strong></div></li>
				<li><div id="right-text-post-3"><strong><a href="/team">OUR TEAM</a></strong></div></li>
				<li><div id="right-text-post-4"><strong><a href="/sponsors">SPONSORS</a></strong></div></li>
           </ul>
           </div>
        </div>

    <div class="A5-calage"></div>
	</div>

</div>


<!-- PART 5 BIS - SUB MENU AND RELATED NUMBERS -->


<!-- PART 6 - SOCIAL PART -->

<div id="A6">

<div id="wrapper-social" class="wow bounceInLeft" data-wow-offset="10">

    	<div id="main-behance">
    		<div id="cadre-behance" class="object">
        		<div id="behance" class="object">E</div>
    		</div>
        </div>

        <div id="main-dribbble">
    		<div id="cadre-dribbble" class="object">
      	  		<div id="dribbble" class="object">D</div>
    		</div>
        </div>

		<div id="main-facebook">
    		<div id="cadre-facebook" class="object">
	        	<div id="facebook" class="object">F</div>
        	</div>
        </div>

		<div id="main-google">
    		<div id="cadre-google" class="object">
        		<div id="google" class="object">G</div>
        	</div>
        </div>

        <div id="main-linked">
    		<div id="cadre-linked" class="object">
        		<div id="linked" class="object">I</div>
        	</div>
        </div>

    </div>
</div>

<!-- PART 7 - COPYRIGHT -->

<div id="A7">

	<div id="wrapper-A7">
    <div id="line-A7"></div>
	<div id="copyright"><strong>This independent TEDx event is operated under license from <a href="https://www.ted.com/">TED.</a></strong></div>
    </div>

</div>

<!-- SCRIPT -->
<% include partials/footer %>
<script type="text/javascript" src="/JS/Home.js"></script>


</body>
</html>
